<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="css/listCss.css">
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th></th>
        <th>Weight (kg)</th>
        <th>Profession</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Carolina Biggleswade</td>
        <td>23</td>
        <td>65</td>
        <td>Jockey</td>
    </tr>
    <tr>
        <td>Harry Sparrowhead</td>
        <td>34</td>
        <td>89</td>
        <td>Trainer</td>
    </tr>
    <tr>
        <td>Marjorie Doors</td>
        <td>32</td>
        <td>76</td>
        <td>Yard Manager</td>
    </tr>
    <tr>
        <td>Earnest Piggington-Smithe</td>
        <td>18</td>
        <td>98</td>
        <td>Groom</td>
    </tr>
    </tbody>
</table>

</body>
</html>