<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="css/tablelist.css">

</head>
<body>

<nav id="topNav">
    <ul>
        <li><a href="/login">sign in</a></li>
        <li><a href="/register">register</a></li>
        <li><a href="/">home</a></li>
        <li><a href="/pledgeitem">Pledge Item 4</a></li>
        <li><a href="/displaypotluckmy">DisplayMy</a></li>
        <li><a href="/displaypotluckall">DisplayAll</a></li>
        <li><a th:href="@{/logout}">logout</a></li>
    </ul>
</nav>

<table class="zebra">
    <thead>
    <tr>
        <td>ItemName</td>
        <td>ServeSize</td>
        <td>ItemType</td>
        <td>PledgedBy</td>

    </tr>
    </thead>
    <tbody>
    <tr th:inline="text" th:each="item : ${items}">
        <td>[[${item.itemname}]]</td>
        <td>[[${item.servesize}]]</td>
        <td>[[${item.itemtype}]]</td>
        <td><div th:each="plu : ${item.pledgingusers}">
            <span th:inline="text"> [[${plu.firstName}]]<br/></span>
        </div></td>
        <td><a th:href="@{/delete/{id}(id=${item.id})}"> Delete item</a></td>
    </tr>
    </tbody>
</table>
<!--<h3>potluck</h3>-->
<!--<div th:each="item : ${items}">-->
    <!--<span th:inline="text">Item Name: [[${item.itemname}]]<br/></span>-->
    <!--<span th:inline="text">Serve Size: [[${item.servesize}]]<br /></span>-->
    <!--<span th:inline="text">Item Type: [[${item.itemtype}]]<br/></span>-->

        <!--<div th:each="plu : ${item.pledgingusers}">-->
        <!--<span th:inline="text">pl by: [[${plu.firstName}]]<br/></span>-->
        <!--</div>-->
    <!--<br/><br/>-->
<!--</div>-->


</body>
</html>