<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>


</head>
<body>


<nav id="topNav">
    <ul>
        <li><a href="/login">sign in</a></li>
        <li><a href="/register">register</a></li>
        <li><a href="/">home</a></li>
        <li><a href="/pledgeitem">Pledge Item 4</a></li>
        <li><a href="/displaypotluck">Display</a></li>
    </ul>
</nav>



<h3>potluck</h3>
<div th:each="item : ${items}">
    <span th:inline="text">Item Name: [[${item.itemname}]]<br/></span>
    <span th:inline="text">Serve Size: [[${item.servesize}]]<br /></span>
    <span th:inline="text">Item Type: [[${item.itemtype}]]<br/></span>

    <br/><br/>


</div>
</body>
</html>